<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #F8F8FF;">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/home']" routerLinkActive="active">Home</a>
            </li>
            <li id="navAbout" class="nav-item">
                <!-- <a class="nav-link"  >About</a> -->
                <a class="nav-link" [routerLink]="[ '/about']" routerLinkActive="active">About</a>
            </li>
        </ul>
    </div>
</nav>