<div id="part-view-full">
    <h1 id="h3AboutHeader"> Nossa missão é organizar as informações do mundo para que sejam universalmente acessíveis e úteis para todos.</h1>
    <!-- <p id="pAboutHeader">Bem-vindo ao Clean World. Somos uma comunidade global de milhões que se reúnem todos os dias para
        criar próprio dilema: experiências únicas, imprevisíveis e sem repatição. Com inovação a cada fluxo, você não somente assite e sim
        participa.</p> -->
    <div id="part-view-1">
        <h1 id="h1AboutHeader"> Inove, participe, junte-se ao show. </h1>
        <div id="cardsAbout">
            <div id="carBlue" class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Interaja</h5>
                    <p class="card-text">Crie sua comunidade única, aonde você pode realizar tudo.</p>
                </div>
            </div>

            <div id="cardGreen" class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Explore</h5>
                    <p class="card-text">Entre no mundo novo, explore suas possibilidades.</p>
                </div>
            </div>
            <div id="cardYellow" class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <div class="card-body">
                    <h5 class="card-title">Contribua</h5>
                    <p class="card-text">Disponibilize sua comunidade para contribuir com o mundo.</p>
                </div>
            </div>
        </div>
        <button id="btnGetStart" type="button" class="btn btn-outline-primary btn-sm" [routerLink]="[ '/register']">Vamos começar</button>
        <label id="lblContact">Contato:</label>
        <button id="btnEmail" type="button" class="btn btn-link">clearworld@me.com</button>
    </div>
    <div id="part-view-2">
        <p id="borderImg"><img src="../../assets/images/recycle_about.jpg" class="img-fluid" id="imgAbout"></p>
    </div>
</div>