<div id="part-view-full" class="container">
    <div id="part-view-1" class="row">
        <div class="col-md-12">
            <p class="lead"> Sing in </p>
            <hr>
            <form>
                <div id="divRow1" class="form-row">
                    <div class="col-md-5 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefault01"
                            placeholder="First name" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefault02"
                            placeholder="Last name" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <div id="divRadio01" class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Man</label>
                        </div>
                        <div id="divRadio02" class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Woman</label>
                        </div>
                    </div>
                </div>
                <div id="divRow2" class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group input-group-sm mb-3">
                            <input type="date" class="form-control" id="validationDefaultBirthDate"
                                aria-describedby="inputGroup-sizing-sm" required>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Birth date</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefaultPhoneNumber"
                            placeholder="Phone number" requried>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefault07"
                            placeholder="CPF" ng-model="initializedCpf" ui-br-cpf-mask requried>
                    </div>
                </div>
                <div id="divRow3" class="form-row">
                    <div class="col-md-3 mb-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input type="text" class="form-control" id="validationDefaultUsername"
                                placeholder="Username" aria-describedby="inputGroup-sizing-sm" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">@example.com</span>
                            </div>
                            <input type="text" class="form-control" id="validationDefaultEmail" placeholder="E-mail"
                                aria-describedby="inputGroup-sizing-sm" required>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="password" class="form-control  form-control-sm" id="validationDefault06"
                            placeholder="Password" requried>
                    </div>
                </div>
                <div id="divRow4" class="form-row">
                    <div class="col-md-6 mb-3">
                        <input type="password" class="form-control  form-control-sm" id="validationDefault03"
                            placeholder="City" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefault04"
                            placeholder="State" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control  form-control-sm" id="validationDefault05"
                            placeholder="Zip" required>
                    </div>
                </div>
                <div id="divRow5" class="col-md-6 mb-3">
                    <!-- <div class="form-check mb-2 mr-sm-2">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label form-check-label-sm" for="invalidCheck2">
                            Agree to terms and conditions
                        </label>
                    </div> -->
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="invalidCheck2" required>
                        <label class="custom-control-label" for="invalidCheck2">Remember my preference</label>
                    </div>
                </div>
                <button id="btnRegister" class="btn btn-success btn-sm" type="submit"> Sing in</button>
            </form>
            <button id="btnBack" [routerLink]="[ '/home']" class="btn btn-outline-info btn-sm"> Back to home</button>
        </div>
    </div>
</div>